<div class="ui-g">
  <div class="ui-g-12">
    <p-table [value]="encomendas">
      <ng-template pTemplate="caption">
        Rastreio de encomendas
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th class="col-header-id">Código</th>
          <th>Cliente</th>
          <th>Local</th>
          <th>Data Recebimento</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-encomenda>
        <tr>
          <td>{{ encomenda.id }}</td>
          <td>{{ encomenda.cliente.nome }}</td>
          <td>{{ encomenda.cliente.endereco }}</td>
          <td class="col-data">{{ encomenda.postagem | date: 'dd/MM/yyyy'}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
